* {
  box-sizing: border-box;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

body {
  overflow-x: hidden;
}



.badges-container,
 .badge-heading, 
 .banner-info, .b1, 
 .banners-container, 
 .card-container,
 .card , 
 .testimonial-container,
 .testimonial{
  display: flex;
  
 
}

.badges-container .card-container{
flex-wrap: wrap;
}

.badge-heading, .badge-heading,
.card-container
, .testimonial-container
{
    justify-content: center;
    align-items: center;
}

.badges-container{
  gap: 10px; 
  padding: 20px;
}
.badges { 
  padding: 10px 20px;
  border-radius: 4px;
  text-align: center;
  flex: 0 0 calc(100% / 8 - 10px);
}
.banner, .banne-without-txt{
    padding: 20px;
    background-color: red;
}



.banner-info div{
    margin-left: 10px;
}


.b1, .banners-container{
  flex-direction: column;
}

.banners-container {
  gap: 20px;
  align-items: center;
  padding: 20px;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card{

  margin-top: 25px;
  position: relative;
  background-color: #F9FAFB;
  width: 30%;
  padding: 20px;
  align-items: center;
  flex-direction:column;
  text-align: center;
  box-shadow: 1px 1px 3px rgb(224, 220, 220);
  
}
.card:hover{
  box-shadow: 5px 5px 3px rgb(224, 220, 220);
}
.icon-wrapper{
  top: -25px;
  position: absolute;
  font-size: 45px;
}
.icon-wrapper i{
  color: #3F75FE;
}
.testimonial-container{
  margin-top: 60px;
}
.testimonial{
  width: 70%;
  display: flex;
  align-items: center;
  background-color: #3F75FE;
  position: relative;
  padding: 20px;
  
}
.testimonial-img{
  position: absolute;
  top:-20px;
}
.testimonial-info{
  margin-left: 280px;
  padding: 10px;
  color: #FFFFFF; 
}
.testimonial-info i{
  color: #e5e4e4;
  font-size: 18px;
}
.testimonial-img img{
  width: 250px;
}

